<img src="aaa.PNG" >
<img src="Screenshot_20240830-230056.PNG" >

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('test_scores.csv')
df.head()

     name  math  cs
0   david    92  98
1   laura    56  68
2  sanjay    88  81
3     wei    70  80
4    jeff    80  83

In [58]:
def gradient(X,y):
    m_curr=b_curr=0
    rate=0.01
    iteration=1000
    n=len(X)
    for i in range(iteration):
        y_pred= m_curr*X + b_curr
        md= -(2/n)*sum(X*(y-y_pred))
        bd= -(2/n)*sum((y-y_pred))
        m_curr = m_curr - rate*md
        b_curr = b_curr - rate*bd
        cost= (1/n)*sum([val**2 for val in (y-y_pred)])
    print(m_curr , b_curr , cost , i)

In [59]:
X=df['math']
y=df['cs']

In [60]:
# gradient(df['math'],df['cs'])
gradient(X,y)

OverflowError: (34, 'Result too large')